<div>
<img src='../pics/banner.PNG'/>
</div>
<div>
<img width="20%" src='../pics/pandas.svg'/>
</div>
<div>
<img width="15%" src='../pics/tinlab.png'/>
<strong>Pandas Dataframes - Jeroen Boogaard</strong>
</div>

# Pandas 2: Pandas Dataframes

**Imports**

In [8]:
import pandas as pd
import certifi
import io
import json
import numpy as np
import requests
import urllib3
from pathlib import Path
from urllib3 import request

**Globale variabelen**

In [9]:
csvFile = 'eurovision-2016.csv'
csvFilePath = Path.cwd().parent.joinpath('csv').joinpath(csvFile)
dcgisDict = dict()
dcgisDf = pd.DataFrame()

### Pandas Dataframe
<p>Een <strong>Dataframe</strong> is een tabel die is opgebouwd uit Pandas Series</p>

#### Pandas Dataframe o.b.v. CSV URL

In [10]:
url = "https://raw.githubusercontent.com/ksatola/Data-Science-Notes/master/data/dc20/eurovision-2016.csv"
response = requests.get(url).content
eurovisionDf = pd.read_csv(io.StringIO(response.decode('utf-8')))
eurovisionDf.tail(100)

,From country,To country,Jury A,Jury B,Jury C,Jury D,Jury E,Jury Rank,Televote Rank,Jury Points,Televote Points
966,Switzerland,Czech Republic,21,12,8,18,21,16,24,NaN,NaN
967,Switzerland,The Netherlands,5,13,10,6,11,6,12,5.0,NaN
968,Switzerland,Azerbaijan,19,23,9,21,19,20,25,NaN,NaN
969,Switzerland,Hungary,14,25,11,22,25,22,16,NaN,NaN
970,Switzerland,Italy,3,3,20,19,9,9,4,2.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...
1061,United Kingdom,Ukraine,11,1,1,1,5,2,6,10.0,5.0
1062,United Kingdom,Malta,18,13,8,17,4,12,15,NaN,NaN
1063,United Kingdom,Georgia,2,2,3,2,1,1,19,12.0,NaN
1064,United Kingdom,Austria,23,15,12,18,13,17,13,NaN,NaN
1065,United Kingdom,Armenia,15,22,7,24,18,20,18,NaN,NaN

**Export naar CSV**

In [11]:
eurovisionDf.to_csv(csvFilePath, sep=',', encoding='utf-8', index=False)

#### Pandas Dataframe o.b.v. CSV bestand

<h3>Exercise 1</h3>
<p>Importeer eurovision-2016.csv in een nieuw dataframe met de naam eurovisionDfCsv en vergelijk deze met eurovisionDf</p>

**Oplossing**

#### Pandas Dataframe m.b.v. Rest Client

**Certificaat verificatie**

In [12]:
http = urllib3.PoolManager( cert_reqs='CERT_REQUIRED', ca_certs=certifi.where() )

**Web Request**

In [14]:
url = 'https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/2/query?where=1%3D1&outFields=*&outSR=4326&f=json'
response = http.request('GET', url)
response.status

200

<h3>Exercise 2</h3>
<p>Sla de data uit de response op in dictionary dcgisDict</p>

**Oplossing**

**Maak een dataframe o.b.v. de dictionary**

In [15]:
if bool(dcgisDict):
    dcgisDf = pd.json_normalize(dcgisDict, 'features')

if dcgisDf is not None:
   display(dcgisDf)

Empty DataFrame
Columns: []
Index: []