<div>
<img src='../pics/banner.PNG'/>
</div>
<div>
<img width="15%" src='../pics/tinlab.png'/>
<strong>Python Basics - Jeroen Boogaard</strong>
</div>

<h1>Samengestelde variabelen - tuples</h1>

**Een tuple is een <u>immutable</u> list**

<h3>Tuple variabelen aanmaken en afdrukken</h3>

**Gebruik haakjes () voor het aanmaken van een tuple variabele**

In [ ]:
soho = ("SOlar", "Heliospheric", "Observatory")

<p>Om een tuple om te zetten naar <i>printable string</i>, kun je de methode <i>join()</i> gebruiken, een methode van type <u>str</u>, <strong>niet</strong> van <u>tuple</u>
</p>

In [ ]:
print(f"The SOHO {', '.join(soho) } telescope is studying and staring at the Sun")

In [ ]:
discovery = ("Triton", "William Lassell", 1846)
print( "%s discovered %s in %s" %(discovery) )

**Gebruik methodes van list om een bepaald element uit een tuple op te vragen**

<p>Vraag het <u>eerste</u> element van de tuple op</p>

In [ ]:
soho[0]

<p>Vraag het <u>tweede</u> element van de tuple op</p>

In [ ]:
soho.index('Heliospheric')

<p>Vraag het <u>laatste element</u> van de tuple op</p>

In [ ]:
soho[-1]

<h3>Exercise 1</h3>
<p>Bij een tuple kun je de list methode <i>sort()</i> niet gebruiken, laat zien hoe je met de methode <u>sorted()</u> de <u>volgorde van de elementen in soho</u> toch blijvend kunt veranderen.

In [ ]:
# Oplossing

**Nadat een tuple variabele is aangemaakt kun je de <u>waarde</u> niet meer wijzigen..**

In [ ]:
nickEnSimon = ("Nick", "Simon")

**..de <u>variabele</u> zelf kan <strong>wel</strong> wijzigen</p>**

In [ ]:
duet = ("Nick", "Simon")
print(duet)
duet = ("Suzan", "Freek" )
print(duet)

<h3>Exercise 2</h3>
<p>Pas een <u>cast</u> toe zodat Simon zich kan ont<u>pop</u>pen tot solo-artiest</p>

In [ ]:
# Oplossing