<div>
<img src='../pics/banner.PNG'/>
</div>
<div>
<img width="20%" src='../pics/pandas.svg'/>
</div>
<div>
<img width="15%" src='../pics/tinlab.png'/>
<strong>Pandas 1 - Jeroen Boogaard</strong>
</div>

## Imports

In [57]:
import pandas as pd
import certifi
import io
import json
import numpy as np
import urllib3
from pathlib import Path
from urllib3 import request

## Pandas 1: Data Collections
<ul>
    <li><strong>Pandas Series</strong> lijkt op een Python dictorionary en voeg labels toe aan een Numpy Array</li>
    <li><strong>Pandas Dataframe</strong> is een tabel die is opgebouwd uit Pandas Series</li>
</ul>

### Pandas Series

#### Pandas Series o.b.v. list

In [58]:
finalCountriesList = ['Sweden', 'Ukraine', 'Germany', 'Luxembourg', 'Israel']
finalOrderList = [ 1, 2, 3, 4, 6 ]

In [59]:
grandFinalSeries = pd.Series(data=finalCountriesList, index=finalOrderList)
display(grandFinalSeries)
type(grandFinalSeries)

1        Sweden
2       Ukraine
3       Germany
4    Luxembourg
6        Israel
dtype: object

pandas.core.series.Series

In [60]:
grandFinalSeries[1]

'Sweden'

<h3>Exercise 1</h3>
<p>Maak uit grandFinalSeries de lijsten finalCountriesListExtracted en finalOrderListExtracted en vergelijk deze met finalCountriesList en finalOrderList</p>

**Oplossing**

In [61]:
finalCountriesListExtracted = grandFinalSeries.values.tolist()
type(finalCountriesListExtracted)

list

In [62]:
finalOrderListExtracted = grandFinalSeries.keys().tolist()
type(finalOrderListExtracted)

list

In [63]:
(finalOrderListExtracted == finalOrderList) and (finalCountriesList == finalCountriesListExtracted)

True

<note>NB: De haakjes zijn toegevoegd voor de leesbaarheid</note>

#### Pandas Series o.b.v. dictionary

In [64]:
euroArtistsDict = { 
    'Sweden':'Marcus & Martinus',
    'Ukraine': 'alyona alyona & Jerry Heil',
    'Germany': 'ISAAK'    
}

In [65]:
euroArtistsSeries = pd.Series(euroArtistsDict)
display(euroArtistsSeries)
type(euroArtistsSeries)

Sweden              Marcus & Martinus
Ukraine    alyona alyona & Jerry Heil
Germany                         ISAAK
dtype: object

pandas.core.series.Series

In [66]:
euroArtistsSeries[ grandFinalSeries[1] ]

'Marcus & Martinus'

<h3>Exercise 2</h3>
<p>Maak uit euroArtistsSeries de dictionary euroArtistsDictExtracted en vergelijk deze met euroArtistsDict</p>

**Oplossing**

In [67]:
euroArtistsDictExtracted = euroArtistsSeries.to_dict()
type(euroArtistsDictExtracted)

dict

In [78]:
euroArtistsDictExtracted == euroArtistsDict

True

#### Pandas Series o.b.v. Numpy Array

In [73]:
numbersArray = np.array(
    [10, 20, 1, 2, 3, 4, 5, 6, 7]
)
display(numbersArray)
numbersArray.shape

array([10, 20,  1,  2,  3,  4,  5,  6,  7])

(9,)

In [76]:
numbersSeries = pd.Series(numbersArray)
display(numbersSeries)
type(numbersSeries)

0    10
1    20
2     1
3     2
4     3
5     4
6     5
7     6
8     7
dtype: int64

pandas.core.series.Series

<h3>Exercise 3</h3>
<p>Maak uit numbersSeries de Numpy Array numbersArrayExtracted en vergelijk deze met numbersArray</p>

**Oplossing**

In [82]:
numbersArrayExtracted = numbersSeries.to_numpy() 
type(numbersArrayExtracted)

numpy.ndarray

In [81]:
numbersArray == numbersArrayExtracted

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

### Pandas Dataframe

#### Pandas Dataframe o.b.v. CSV bestand

In [207]:
csvFile = 'eurovision-2016.csv'
csvFilePath = Path.cwd().parent.joinpath('csv').joinpath(csvFile)
eurovisionSeries = pd.read_csv(csvFilePath)

In [208]:
eurovisionSeries.head(10)

,From country,To country,Jury A,Jury B,Jury C,Jury D,Jury E,Jury Rank,Televote Rank,Jury Points,Televote Points
0,Albania,Belgium,20,16,24,22,24,25,14,NaN,NaN
1,Albania,Czech Republic,21,15,25,23,16,22,22,NaN,NaN
2,Albania,The Netherlands,22,14,23,24,21,24,24,NaN,NaN
3,Albania,Azerbaijan,19,12,11,21,11,13,19,NaN,NaN
4,Albania,Hungary,8,13,9,14,9,10,10,1.0,1.0
5,Albania,Italy,4,10,3,7,2,3,2,8.0,10.0
6,Albania,Israel,10,2,18,4,12,8,17,3.0,NaN
7,Albania,Bulgaria,11,3,6,13,6,7,3,4.0,8.0
8,Albania,Sweden,16,8,15,6,15,11,8,NaN,3.0
9,Albania,Germany,18,17,20,11,17,18,15,NaN,NaN

#### Pandas Dataframe o.b.v. CSV URL

In [209]:
url = "https://raw.githubusercontent.com/ksatola/Data-Science-Notes/master/data/dc20/eurovision-2016.csv"
response = requests.get(url).content
eurovisionSeries = pd.read_csv(io.StringIO(response.decode('utf-8')))
eurovisionSeries.head(10)

,From country,To country,Jury A,Jury B,Jury C,Jury D,Jury E,Jury Rank,Televote Rank,Jury Points,Televote Points
0,Albania,Belgium,20,16,24,22,24,25,14,NaN,NaN
1,Albania,Czech Republic,21,15,25,23,16,22,22,NaN,NaN
2,Albania,The Netherlands,22,14,23,24,21,24,24,NaN,NaN
3,Albania,Azerbaijan,19,12,11,21,11,13,19,NaN,NaN
4,Albania,Hungary,8,13,9,14,9,10,10,1.0,1.0
5,Albania,Italy,4,10,3,7,2,3,2,8.0,10.0
6,Albania,Israel,10,2,18,4,12,8,17,3.0,NaN
7,Albania,Bulgaria,11,3,6,13,6,7,3,4.0,8.0
8,Albania,Sweden,16,8,15,6,15,11,8,NaN,3.0
9,Albania,Germany,18,17,20,11,17,18,15,NaN,NaN

**Handle certificate verification and SSL warnings**

In [210]:
http = urllib3.PoolManager( cert_reqs='CERT_REQUIRED', ca_certs=certifi.where() )

**Get data from the API**

In [ ]:
url = 'https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/2/query?where=1%3D1&outFields=*&outSR=4326&f=json'
response = http.request('GET', url)
response.status

**Decode json data into a dict object**

In [212]:
if response.status == 200:
    data = json.loads(response.data.decode('utf-8'))

**Load Features into Dataframe**

In [213]:
df = pd.json_normalize(data, 'features')
df.head(10)

,attributes.CCN,attributes.REPORT_DAT,attributes.SHIFT,attributes.METHOD,attributes.OFFENSE,attributes.BLOCK,attributes.XBLOCK,attributes.YBLOCK,attributes.WARD,attributes.ANC,...,attributes.VOTING_PRECINCT,attributes.LATITUDE,attributes.LONGITUDE,attributes.BID,attributes.START_DATE,attributes.END_DATE,attributes.OBJECTID,attributes.OCTO_RECORD_ID,geometry.x,geometry.y
0,20164446,1605641172000,DAY,OTHERS,THEFT/OTHER,600 - 699 BLOCK OF K STREET NW,398186.0,137185.0,6,6E,...,Precinct 18,38.902518,-77.020913,MOUNT VERNON TRIANGLE CID,1605636194000,1.605637e+12,520956538,None,-77.020915,38.902526
1,20167707,1606231415000,DAY,OTHERS,MOTOR VEHICLE THEFT,1 - 149 BLOCK OF 54TH STREET SE,406635.0,135586.0,7,7C,...,Precinct 105,38.888090,-76.923523,None,1606186856000,1.606224e+12,520956539,None,-76.923525,38.888098
2,20162191,1605225488000,EVENING,OTHERS,THEFT/OTHER,800 - 899 BLOCK OF 15TH STREET NW,397081.0,136991.0,2,2C,...,Precinct 129,38.900767,-77.033651,DOWNTOWN,1605224438000,1.605225e+12,520956547,None,-77.033653,38.900775
3,20015634,1580075499000,EVENING,OTHERS,THEFT F/AUTO,500 - 599 BLOCK OF Q STREET NW,398316.0,138140.0,2,2G,...,Precinct 18,38.911121,-77.019417,None,1580050664000,1.580053e+12,520956549,None,-77.019419,38.911129
4,20016281,1580150125000,DAY,OTHERS,THEFT/OTHER,900 - 999 BLOCK OF 14TH STREET NW,397228.0,137120.0,2,2C,...,Precinct 129,38.901930,-77.031957,DOWNTOWN,1580148042000,1.580150e+12,520956550,None,-77.031959,38.901937
5,20029452,1582003986000,MIDNIGHT,OTHERS,THEFT/OTHER,300 - 399 BLOCK OF G STREET NW,398639.0,136719.0,6,6E,...,Precinct 143,38.898321,-77.015690,DOWNTOWN,1581892885000,1.581955e+12,520956551,None,-77.015692,38.898328
6,20033198,1582532628000,MIDNIGHT,OTHERS,THEFT/OTHER,600 - 699 BLOCK OF GALVESTON STREET SE,400084.0,128443.0,8,8E,...,Precinct 125,38.823768,-76.999033,None,1582330127000,1.582381e+12,520956552,None,-76.999035,38.823776
7,20033306,1582565585000,DAY,OTHERS,THEFT/OTHER,1500 - 1599 BLOCK OF BENNING ROAD NE,401521.0,136902.0,7,7D,...,Precinct 81,38.899969,-76.982466,None,1582554497000,1.582564e+12,520956553,None,-76.982468,38.899977
8,20074836,1590004793000,EVENING,KNIFE,ASSAULT W/DANGEROUS WEAPON,2632 - 2663 BLOCK OF MARTIN LUTHER KING JR AVE...,400366.0,132181.0,8,8C,...,Precinct 119,38.857442,-76.995783,ANACOSTIA,1589999760000,1.590002e+12,520956634,None,-76.995785,38.857449
9,20075381,1590093765000,EVENING,OTHERS,MOTOR VEHICLE THEFT,3500 - 3899 BLOCK OF JAY STREET NE,404579.0,137347.0,7,7D,...,Precinct 100,38.903967,-76.947209,None,1590089342000,1.590090e+12,520956635,None,-76.947212,38.903975

## References

[data/dc20/eurovision-2016.csv](https://github.com/ksatola/Data-Science-Notes/blob/master/data/dc20/eurovision-2016.csv)

[From API to Pandas](https://plainenglish.io/blog/from-api-to-pandas-getting-json-data-with-python-df127f699b6b)