<div>
<img src='../pics/banner.PNG'/>
</div>
<div>
<img width="10%" src='../pics/tinlab.png'/></a>
<em>Python Basics <strong>Solutions</strong> - Jeroen Boogaard</em>
</div>

<h1>Samengestelde variabelen - tuples</h1>

**Een tuple is een <u>immutable</u> list**

<h3>Tuple variabelen aanmaken en afdrukken</h3>

**Gebruik haakjes () voor het aanmaken van een tuple variabele**

In [3]:
soho = ("SOlar", "Heliospheric", "Observatory")

<p>Om een tuple om te zetten naar <i>printable string</i>, kun je de methode <i>join()</i> gebruiken, een methode van type <u>str</u>, <strong>niet</strong> van <u>tuple</u>
</p>

In [4]:
print(f"The SOHO {', '.join(soho) } telescope is studying and staring at the Sun")

The SOHO SOlar, Heliospheric, Observatory telescope is studying and staring at the Sun

In [5]:
discovery = ("Triton", "William Lassell", 1846)
print( "%s discovered %s in %s" %(discovery) )

Triton discovered William Lassell in 1846

**Gebruik methodes van list om een bepaald element uit een tuple op te vragen**

<p>Vraag het <u>eerste</u> element van de tuple op</p>

In [6]:
soho[0]

'SOlar'

<p>Vraag het <u>tweede</u> element van de tuple op</p>

In [7]:
soho.index('Heliospheric')

1

<p>Vraag het <u>laatste element</u> van de tuple op</p>

In [8]:
soho[-1]

'Observatory'

<h3>Exercise 1</h3>
<p>Bij een tuple kun je de list methode <i>sort()</i> niet gebruiken, laat zien hoe je met de methode <u>sorted()</u> de <u>volgorde van de elementen in soho</u> toch blijvend kunt veranderen.

In [29]:
# Oplossing
sohoList = list(soho)
sohoList.sort()
sohoTuple = sohoList[:]
type(sohoTuple)

list

**Nadat een tuple variabele is aangemaakt kun je de <u>waarde</u> niet meer wijzigen..**

In [10]:
nickEnSimon = ("Nick", "Simon")

**..de <u>variabele</u> zelf kan <strong>wel</strong> wijzigen</p>**

In [11]:
duet = ("Nick", "Simon")
print(duet)
duet = ("Suzan", "Freek" )
print(duet)

('Nick', 'Simon')
('Suzan', 'Freek')

<h3>Exercise 2</h3>
<p>Pas een <u>cast</u> toe zodat Simon zich kan ont<u>pop</u>pen tot solo-artiest</p>

In [12]:
# Oplossing

duet = ("Nick", "Simon")
duet = list(duet)
soloArtiest = duet.pop()
print(duet)
print(soloArtiest)neptuneMoons

['Nick']
Simon