<div>
<img src='../pics/banner.PNG'/>
</div>
<div>
<img width="15%" src='../pics/tinlab.png'/>
<strong>Python Basics - Jeroen Boogaard</strong>
</div>

<h1>Samengestelde variabelen - lists</h1>

<h3>List variabelen aanmaken en afdrukken</h3>

**Gebruik teksthaken [] voor het aanmaken van een list variabele**

In [58]:
neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]
len(neptuneOutermoons)

7

<h3>Exercise 9</h3>
<p>Schrijf een statement om te bewijzen dat Neptunus evenveel binnen- als buitenmanen heeft</p>

In [59]:
# Oplossing
type(len(neptuneInnerMoons) == len(neptuneOutermoons))

bool

**Gebruik index 0 voor het verkrijgen van het eerste element**

In [60]:
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

Triton is the largest moon of Neptune.

**Met <i>sort()</i> wordt de volgorde van de elementen in een list <u>blijvend veranderd</u>.**

In [61]:
neptuneOutermoons
neptuneOutermoons.sort()
neptuneOutermoons

str = "%s is the largest moon of Neptune." %(neptuneOutermoons[0])
str.upper()

'HALIMEDE IS THE LARGEST MOON OF NEPTUNE.'

**Gebruik de functie len() voor het verkrijgen van het aantal elementen in een list**

In [62]:
print(f"Neptune is the farthest planet of our solar system and it has { len(neptuneInnerMoons) + len(neptuneOutermoons) } known moons.")

Neptune is the farthest planet of our solar system and it has 14 known moons.

<h3>Elementen toevoegen</h3>

In [63]:
neptuneMoons = []

for neptuneOuterMoon in neptuneOutermoons:
    neptuneMoons.append(neptuneOuterMoon)
    
for neptuneInnerMoon in neptuneInnerMoons:
    neptuneMoons.append(neptuneInnerMoon)

neptuneMoons.sort()    
    
print(neptuneMoons)

['Despina', 'Galatea', 'Halimede', 'Hippocamp', 'Laomedeia', 'Larissa', 'Naiad', 'Nereid', 'Neso', 'Proteus', 'Psamathe', 'Sao', 'Thalassa', 'Triton']

<h3>Elementen verwijderen</h3>

In [64]:
neptuneMoons.remove('Naiad')
print(neptuneMoons)

['Despina', 'Galatea', 'Halimede', 'Hippocamp', 'Laomedeia', 'Larissa', 'Nereid', 'Neso', 'Proteus', 'Psamathe', 'Sao', 'Thalassa', 'Triton']

**Gebruik <i>pop()</i> om het laaste element <u>uit</u> de lijst te halen**

In [67]:
firstNeptuneMoon = neptuneMoons.pop()
print(f"Popped {firstNeptuneMoon} from neptuneMoons")
print(f"{neptuneMoons}")

Popped Despina from neptuneMoons
['Thalassa', 'Sao', 'Psamathe', 'Proteus', 'Neso', 'Nereid', 'Larissa', 'Laomedeia', 'Hippocamp', 'Halimede', 'Galatea']

<h3>Excercise 10</h3>
<p>Maak een nieuwe lijst <i>lowerMoons</i> met alle <u>neptuneMoons</u> in <u>lowercase</u>.

In [75]:
# Oplossing
lowerMoons = list()

for i in range(0, len(neptuneMoons)):
    print(neptuneMoons[i])

# for moon in neptuneMoons:
#     lowerMoons.append(moon.lower())

# print(lowerMoons)

Thalassa
Sao
Psamathe
Proteus
Neso
Nereid
Larissa
Laomedeia
Hippocamp
Halimede
Galatea

<h3>Map en join</h3>

In [43]:
iterator = map(lambda moon: moon.upper(), neptuneInnerMoons)
print(list(iterator))

['NAIAD', 'THALASSA', 'DESPINA', 'GALATEA', 'PROTEUS', 'HIPPOCAMP', 'LARISSA']

In [44]:
neptuneInnerMoonsStr = ", ".join(map(str,sorted(neptuneInnerMoons))) 
print( f"In order of increasing distance, the list of { len(neptuneInnerMoons) } regular Neptune moons is {neptuneInnerMoonsStr}." )

TypeError: 'str' object is not callable