<div>
<img src='../pics/banner.PNG'/>
</div>
<div>
<img width="20%" src='../pics/pandas.svg'/>
</div>
<div>
<img width="15%" src='../pics/tinlab.png'/>
<strong>Pandas Basics - Jeroen Boogaard</strong>
</div>

## Imports

In [134]:
import pandas as pd
from pathlib import Path

## Pandas Data Collections
<ul>
    <li><strong>Pandas Series</strong> lijkt op een Python dictorionary en voeg labels toe aan een Numpy Array</li>
    <li><strong>Pandas Dataframe</strong> is een tabel die is opgebouwd uit Pandas Series</li>
</ul>

### Pandas Series

**Pandas Series o.b.v. list**

In [135]:
finalCountriesList = ['Sweden', 'Ukraine', 'Germany', 'Luxembourg', 'Israel']
finalOrderList = [ 1, 2, 3, 4, 6 ]

In [136]:
grandFinalSeries = pd.Series(data=finalCountriesList, index=finalOrderList)
display(grandFinalSeries)
type(grandFinalSeries)

1        Sweden
2       Ukraine
3       Germany
4    Luxembourg
6        Israel
dtype: object

pandas.core.series.Series

In [137]:
grandFinalSeries.keys()

Index([1, 2, 3, 4, 6], dtype='int64')

In [138]:
grandFinalSeries[1]

'Sweden'

**Pandas Series o.b.v. dictionary**

In [139]:
euroArtistsDict = { 
    'Sweden':'Marcus & Martinus',
    'Ukraine': 'alyona alyona & Jerry Heil',
    'Germany': 'ISAAK'    
}

In [140]:
euroArtistsSeries = pd.Series(euroArtistsDict)
display(euroArtistsSeries)
type(euroArtistsSeries)

Sweden              Marcus & Martinus
Ukraine    alyona alyona & Jerry Heil
Germany                         ISAAK
dtype: object

pandas.core.series.Series

In [141]:
euroArtistsSeries.keys()

Index(['Sweden', 'Ukraine', 'Germany'], dtype='object')

In [142]:
euroArtistsSeries[ grandFinalSeries[1] ]

'Marcus & Martinus'

**Pandas Series o.b.v. CSV**

In [143]:
csvFile = 'eurovision-2016.csv'
csvFilePath = Path.cwd().parent.joinpath('csv').joinpath(csvFile)
eurovisionSeries = pd.read_csv(csvFilePath)

In [144]:
eurovisionSeries

,From country,To country,Jury A,Jury B,Jury C,Jury D,Jury E,Jury Rank,Televote Rank,Jury Points,Televote Points
0,Albania,Belgium,20,16,24,22,24,25,14,NaN,NaN
1,Albania,Czech Republic,21,15,25,23,16,22,22,NaN,NaN
2,Albania,The Netherlands,22,14,23,24,21,24,24,NaN,NaN
3,Albania,Azerbaijan,19,12,11,21,11,13,19,NaN,NaN
4,Albania,Hungary,8,13,9,14,9,10,10,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1061,United Kingdom,Ukraine,11,1,1,1,5,2,6,10.0,5.0
1062,United Kingdom,Malta,18,13,8,17,4,12,15,NaN,NaN
1063,United Kingdom,Georgia,2,2,3,2,1,1,19,12.0,NaN
1064,United Kingdom,Austria,23,15,12,18,13,17,13,NaN,NaN
1065,United Kingdom,Armenia,15,22,7,24,18,20,18,NaN,NaN

## References

[data/dc20/eurovision-2016.csv](https://github.com/ksatola/Data-Science-Notes/blob/master/data/dc20/eurovision-2016.csv)